/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: antiquewhite;
  position: fixed;
  color: black;
  font-size: 30px;
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.cookieImg:hover {
  cursor: pointer;
}
#shop-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.upgrade {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
