/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: antiquewhite;
  position: fixed;
  color: black;
  font-size: 30px;
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
  z-index: 1;
}
